#page { 
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-family: Tahoma, Verdana, Impact, Arial;
  font-size: small;
}

#page a {
  color: #043c86;
  text-decoration: none;
}
#page a:link {
  color: #043c86;
  text-decoration: none;
}
#page a:visited {
  color: #043c86;
  text-decoration: none;
}
#page a:active {
  color: #043c86;
  text-decoration: underline;
}
#page a:hover {
  color: #043c86;
  text-decoration: underline;
}

#banner {
  padding: 5px 0px 0px 5px;
  border-style: solid;
  border-color: #000000;
  border-width: 0px 0px 3px 0px;
  font-size: 20px;
  font-weight: bolder;
  background-image: url('../images/banner.png');
  height: 25px;
}

#banner a a:link a:visited a:active a:hover { 
  color: #000000;
  text-decoration: none;
}

#crumb { 
  padding: 5px 0px 10px 5px;
  
}

#content { 
  margin: 5px;
}

#leftContainer { 
  float: left;
  width: 300px;
  margin: 0px 10px 0px 0px;
}

#rightContainer { 
  margin-left: 310px;
  padding: 0px;
}

#fullContainer {
  padding: 0px;
}

div.box { 
  border: 1px solid #cccccc;
  background-color: #ffffff;
  margin-bottom: 10px;
}

div.boxHeader {
  border-bottom: 1px solid #cccccc;
  background-color: #eeeeee;
  font-weight: bolder;
  padding: 5px;
}

div.boxContent { 
  padding: 5px;
}

table { 
  border-style: none;
  width: 100%;
}
