<project>
  <build>
    <plugins>
      <plugin>
	<groupId>org.reddwarfserver.maven.plugin</groupId>
        <artifactId>sgs-maven-plugin</artifactId>
        <executions>
          <execution>
            <goals>
              <goal>install</goal>
              <goal>configure</goal>
            </goals>
          </execution>
        </executions>
        <configuration>
	  <sgsHome>${basedir}/target/test-classes/unit/configure/sgs-server-dist-${minimum.sgs.version}</sgsHome>
        </configuration>
      </plugin>
    </plugins>
  </build>
</project>
